---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | upcase }}</a>
        </h2>
		
      </li>
    {% endfor %}
  </ul>

  <div class="navi-content">
  {% if paginator.total_pages > 1 %}  
    {% if paginator.previous_page %}
	  <div class="nav-next">
        <a class="more-link" href="{{ paginator.previous_page_path }}">Newer posts</a>  
	  </div>
    {% endif %}  
      
    {% if paginator.next_page %}
	  <div class="nav-previous">
        <a class="more-link" href="{{ paginator.next_page_path }}">Older posts</a>  
	  </div>
    {% endif %}  
  {% endif %}
  </div>
</div>
