<footer class="container">
    <div class="site-footer" role="contentinfo">
        
        <ul class="site-footer-links right mobile-hidden">
            <li>
                <a href="javascript:window.scrollTo(0,0)" >TOP</a>
            </li>
        </ul>

        <ul class="site-footer-links mobile-hidden">
            <% for (var nav in theme.menus) { %>
                  <%
                    var title = theme.menus[nav].name;
                    var href = theme.menus[nav].link;
                    var link = "^" + href;  
                    var target = theme.menus[nav].target;
                  %>
                  <li>
                    <a href="<%- url_for(href) %>" <%if(target){%>target="<%=target%>"<%}%> title="<%= title %>"><%= title %></a>
                  </li>
            <% } %>
            <li>
                <a href="/atom.xml">
                    <span class="octicon octicon-rss" style="color:orange;"></span>
                </a>
            </li>
        </ul>
    </div>
</footer>
